<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>二维码扫描需要启用相机</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请点击“好”以允许访问相册</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>launcher_icon_qrcode</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string></string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>扫一扫</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.webo.scan</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>launcher_icon_write</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string></string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>写微博</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.webo.write</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
